html {
    font-size: 16px;
}

.heading {
    text-align: center;
    margin: 30px auto;
}

form.form-inline {
    margin-bottom: 0px;
}

form {
    margin-bottom: 60px;
}

.form-heading {
    margin: 30px auto;
}

.form-row {
    margin-bottom: 20px;
}

.table {
    margin-top: 30px;
}

tbody {
    font-size: 80%;
}

ul {
    list-style: none;
}

.btn.btn-light.btn-xs {
    font-size: 14px;
    margin-top: -7px;
    margin-left: -11px;
    background-color: inherit;
    border: none;
}
